<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<body>

<div class="pa3 pa5-ns" data-name="slab-stat-large">

  <h3 class="f6 ttu tracked">Searches</h3>
  <div class="cf">
    <dl class="db dib-l w-auto-l lh-title mr6-l">
      <dd class="f2 f-subheadline-l fw6 ml0">{{ "{:,}".format(queries.this_month) }}</dd>
      <dd class="f3 fw6 ml0">{{ "{:,}".format(queries.last_month) }}</dd>
    </dl>
  </div>

  {% for item in queries.users %}
  <p>{{ item.email }}</p>
  {% endfor %}

</div>



</body>
</html>
